Repository learn-able/learnable-be, pull requests merged in 2020-06, with the labels that each got.

#36 Feature: Add is_favorite to playlists/items
  handlers/playlistItemsHandler.go
  handlers/playlistsHandler.go
  handlers/userHandler_test.go
  models/playlist.go
  models/playlistItem.go
  models/user_test.go
Labels: Refactor, playlistItems_endpoint, playlists_endpoint

#37 README
  README.md
  images/playlist.png
  images/req_res1.png
  images/req_res2.png
  images/req_res3.png
  images/req_res4.png
  images/req_res5.png
Labels: README

#39 Testing: Playlist GET
  handlers/playlistHandler_test.go
Labels: BE_Testing, playlists_endpoint
