Repository learn-able/learnable-be, pull requests merged in 2020-05, with the labels that each got.

#11 Refactor: User response
  Procfile
  config/learnabledb.go
  handlers/userHandlers.go
  main.go
  routes/routes.go
Labels: Refactor, Sprint_1, Users_endpoint

#12 Feature: Playlists Table
  .gitignore
  application.env
  application.yml
  config/learnabledb.go
  handlers/apiHandler.go
  handlers/playlistsHandler.go
  handlers/usersHandler.go
  main.go
  models/playlist.go
  models/user.go
  routes/routes.go
Labels: playlists_endpoint

#13 Refactor: Set up Deployment Params for Heroku
  .gitignore
  application.env
  application.yml
  config/learnabledb.go
  handlers/apiHandler.go
  main.go
  models/playlist.go
  routes/routes.go
Labels: Heroku Deployment, chore

#17 Feature: Playlist endpoints
  .DS_Store
  config/learnabledb.go
  go.mod
  go.sum
  handlers/apiHandler.go
  handlers/playlistsHandler.go
  handlers/usersHandler.go
  main.go
  models/playlist.go
  models/playlistItem.go
  routes/routes.go
Labels: playlists_endpoint

#20 Ms playlist items
  .gitignore
  handlers/playlistItemsHandler.go
  routes/routes.go
Labels: playlistItems_endpoint

#21 Testing: Add coverage
  go.mod
  go.sum
  handlers/apiHandler.go
  handlers/apiHandler_test.go
  handlers/playlistItemsHandler.go
  handlers/userHandler_test.go
  handlers/usersHandler.go
  main_test.go
Labels: BE_Testing, Refactor

#23 Playlist update
  handlers/playlistsHandler.go
  models/playlist.go
  routes/routes.go
Labels: playlists_endpoint

#24 Fix: CORS Issue
  go.mod
  go.sum
  routes/routes.go
Labels: Heroku Deployment

#25 Fix: Routing
  config/learnabledb.go
  handlers/playlistItemsHandler.go
  handlers/playlistsHandler.go
  main.go
  routes/routes.go
Labels: Heroku Deployment, Refactor, playlists_endpoint

#26 Fix for heroku
  config/learnabledb.go
  main.go
Labels: Heroku Deployment

#27 Bug Fix: Null over empty Array
  handlers/playlistsHandler.go
  models/playlist.go
Labels: bug, playlists_endpoint

#29 Restful routes
  handlers/playlistItemsHandler.go
  handlers/playlistsHandler.go
  models/playlist.go
  models/playlistItem.go
  routes/routes.go
Labels: Refactor, playlistItems_endpoint, playlists_endpoint

#30 Bug Fix: Routes, playlists and items Oh my!
  go.mod
  go.sum
  handlers/playlistItemsHandler.go
  handlers/playlistsHandler.go
  models/playlistItem.go
  routes/routes.go
Labels: Refactor, playlistItems_endpoint, playlists_endpoint

#31 Delete playlist
  handlers/playlistsHandler.go
  routes/routes.go
Labels: playlists_endpoint

#33 Bug Fix: Responses returning extra values on server.
  handlers/playlistsHandler.go
Labels: Heroku Deployment, bug, playlistItems_endpoint, playlists_endpoint

#34 Bug Fix: CORS
  routes/routes.go
Labels: CORS

#35 Feature: PATCH to Playlist Items
  handlers/playlistItemsHandler.go
  routes/routes.go
Labels: playlistItems_endpoint
